<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} |%c{2}:%L| - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="File" value="/var/log/cognitiva/repositorio.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} |%c{2}:%L| - %m%n" />
        </layout>
    </appender>
    
    <!--Application Loggers--> 
    <logger name="com.cognitivabrasil.repositorio">
        <level value="debug" />
    </logger>

    <!--3rdparty Loggers--> 
    <logger name="org.springframework.core">
        <level value="warn" />
    </logger>
	
    <logger name="org.springframework.beans">
        <level value="warn" />
    </logger>
	
    <logger name="org.springframework.context">
        <level value="warn" />
    </logger>

    <logger name="org.springframework.web">
        <level value="warn" />
    </logger>
    
    <category name="org.hibernate" additivity="false">
        <priority value="warn" />
    </category>
    
    <root>
        <priority value="warn" />
        <appender-ref ref="console" /> 
        <appender-ref ref="file" />
    </root>

</log4j:configuration>