
#main { padding: 1em; }

a img { border: none; }

.title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 110%;
}

/*tira o fundo branco da ul que vem por padrão na biblioteca*/
.treeview ul{background-color: transparent}

/*breadCrumb utilizado no showDocuments*/
#breadCrumb{
    margin-top: -5px;
    margin-bottom: 15px;
}
#breadCrumb a{
    color: #39829f;
}

#breadCrumb strong {
    color: #39829f;
}

#sidetree{
    margin-left: 2%;
}

/*Arquivos dos documentos*/

#files{
    margin-top: 3%;
    margin-bottom: 1%;
    clear: both;
}
#files table{
    border-collapse:collapse;
}
#files th{
    background-color: #38829f;
    color: #fffffe;
    border: 4px solid white;
}
#files td{
    vertical-align: middle;
    border: 4px solid white;
    padding-left: 1%;
}

/*expandir/contrair todos*/
#sidetreecontrol{margin-top: 20px}
#sidetreecontrol a{
    color: #38829f;
}

/*tree*/
#obaaTree{margin-top: 1%;}
#obaaTree .name{font-weight: bold;}
input[readonly="readonly"] {background-color: transparent}

.relation{margin: 20px 0 15px 10px; font-weight: bold}
.relation a{font-weight: normal; color:#38829f}