/* 
    Document   : pageError
    Created on : 28/01/2013, 17:04:30
    Author     : marcos
    Description:
        Purpose of the stylesheet follows.
*/
body, html {height: 100%;}
body {
    font: 100% "Arial", sans-serif;
    width: 600px;
    margin: auto auto;    
    text-align: center;
    background-color: #44697D;
    color: white;
}

h1{font-size: 130%}

#logo{width: 45%; margin-bottom: 40px; margin-top: 20%}

#txtError a{color:white; font-weight: bold}