<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>prod</param-value>
    </context-param>
    
    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml,/WEB-INF/spring/spring-security.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>config-impl</param-name>
        <param-value>com.cognitivabrasil.repositorio.sword.SwordConfigurationImpl</param-value>
    </context-param>
    
    <context-param>
        <param-name>service-document-impl</param-name>
        <param-value>com.cognitivabrasil.repositorio.sword.ServiceDocumentManagerImpl</param-value>
    </context-param>
    
    <context-param>
        <param-name>collection-deposit-impl</param-name>
        <param-value>com.cognitivabrasil.repositorio.sword.CollectionDepositManagerImpl</param-value>
    </context-param>
	
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Processes application requests -->
    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
		
    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!--OAI-Handler-->
    <context-param>
        <param-name>properties</param-name>
        <param-value>dummy.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>OAIHandler</servlet-name>
        <servlet-class>ORG.oclc.oai.server.OAIHandler</servlet-class>
        <!-- Load this servlet at server startup time -->
        <load-on-startup>11</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAIHandler</servlet-name>
        <url-pattern>/oai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIHandler</servlet-name>
        <url-pattern>/servlet/OAIHandler</url-pattern>
    </servlet-mapping>
    
    <!--SWORD-->
    <servlet>
        <servlet-name>servicedocument</servlet-name>
        <servlet-class>org.swordapp.server.servlets.ServiceDocumentServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>collection</servlet-name>
        <servlet-class>org.swordapp.server.servlets.CollectionServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>mediaresource</servlet-name>
        <servlet-class>org.swordapp.server.servlets.MediaResourceServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>container</servlet-name>
        <servlet-class>org.swordapp.server.servlets.ContainerServletDefault</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>statement</servlet-name>
        <servlet-class>org.swordapp.server.servlets.StatementServletDefault</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>servicedocument</servlet-name>
        <url-pattern>/sword/servicedocument/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>collection</servlet-name>
        <url-pattern>/sword/collection/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>mediaresource</servlet-name>
        <url-pattern>/sword/edit-media/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>container</servlet-name>
        <url-pattern>/sword/edit/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>statement</servlet-name>
        <url-pattern>/sword/statement/*</url-pattern>
    </servlet-mapping>
    
        
    <!--SPRING SECURITY -->
    <listener> 
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class> 
    </listener> 
    
    <filter> 
        <filter-name>springSecurityFilterChain</filter-name> 
        <filter-class> 
            org.springframework.web.filter.DelegatingFilterProxy 
        </filter-class> 
    </filter>     
    <filter-mapping> 
        <filter-name>springSecurityFilterChain</filter-name> 
        <url-pattern>/*</url-pattern> 
    </filter-mapping>
    
    <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>    
    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <filter-class>
            org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
        </filter-class>
    </filter>


    <filter-mapping>
        <filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
     
    
    <!-- GERENCIAMENTO DE ERROS -->
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/WEB-INF/views/errors/errorIO.jspx</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/errors/error404.jspx</location>
    </error-page>
    
    <error-page>
        <error-code>410</error-code>
        <location>/WEB-INF/views/errors/error410.jspx</location>
    </error-page>
    
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/views/errors/error403.jspx</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/views/errors/errorGeneric.jspx</location>
    </error-page>
    
</web-app>
